---
layout: page
permalink: /categories/
title: 博客分类
---

<div class="blog-categories">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
            {% unless category_name contains "," %}
            {% if site.categories[category_name] %}

            <ul id="{{ category_name | slugize }}" class="list-group">
                <font style="font-size: 30px;">{{ category_name }}</font> 
                <span class="badge">{{ site.categories[category_name].size }}</span>
            </ul>

            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
                <li style="font-size:15pt !important;">{{ post.date | date: "%Y/%m/%d" }} {% raw %}-{% endraw %} <a href="{{ site.url }}{{ post.url }}">
                    <font style="font-size: 24px;">{{ post.title }}</font></a></li>
            {% endfor %}
        {% endif %}
        {% endunless %}
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    const headings = document.querySelectorAll('ul'); // 1
    const linkContent = '<svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg>'; // 2
    for (const heading of headings) { // 3
        const linkIcon = document.createElement('a'); // 4
        var text = heading.innerText || heading.textContent;

        if (text.indexOf('[') == -1 && heading.id != '') {
            linkIcon.setAttribute('href', `#${heading.id}`); // 5. Category map to link and generate new link both need #
            linkIcon.innerHTML = linkContent; // 6
            heading.insertBefore(linkIcon, heading.firstChild);; // 7
        }
    }
</script>