---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1>{{ site.subtitle }}</h1>
        <div id="jumbotron-meta-info">
             {% for nav in site.labels %}
                <span class="meta-info-index hvr-grow">
                    <a href="{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                </span>
            {% endfor %}
        </div>
    </div>
</section>

<section class="content container">
    <div class="row">
        <!-- Post List -->
        <div class="col-md-8">
            <ol class="post-list">
                {% for post in site.posts %}
                {% if paginator.page == 1 %}
                {% if post.topmost == true %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}"><span style="color: red;">[置顶]</span>
                            <font style="line-height: 1.5 !important;">{{ post.title }}</font></a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="meta-info">
                            <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d %T" }}&nbsp;
                        </span>
                        {% for category in post.categories %}
                        {% if category.size == 0 %}
                        {% unless category contains "," %}
                        <span class="octicon octicon-file-directory"></span> <a href="{{site.url}}/categories/#{{category|slugize}}">{{category}}</a>
                        {% endunless %}
                        {% elsif category.size > 0 %}
                        {% if forloop.index == 1 %}
                        <span class="octicon octicon-file-directory"></span>
                        {% for cat in category %}
                        <a style="background: #6a9fb5;color: #fff;border-radius: 3px;padding: 0 2px;" href="{{site.url}}/categories/#{{cat|slugize}}">{{cat}}</a>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        
                        {% endif %}

                        {% endfor %}
                    </p>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
        
                {% for post in paginator.posts %}
                {% if post.topmost != true %}
                <li class="post-list-item">
                    <h2 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="meta-info">
                            <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d %T" }}&nbsp;
                        </span>
                        {% for category in post.categories %}
                        {% if category.size == 0 %}
                        {% unless category contains "," %}
                        <span class="octicon octicon-file-directory"></span> <a href="{{site.url}}/categories/#{{category|slugize}}">{{category}}</a>
                        {% endunless %}
                        {% elsif category.size > 0 %}
                        {% if forloop.index == 1 %}
                        <span class="octicon octicon-file-directory"></span>
                        {% for cat in category %}
                        <a style="background: #6a9fb5;color: #fff;border-radius: 3px;padding: 0 2px;" href="{{site.url}}/categories/#{{cat|slugize}}">{{cat}}</a>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        
                        {% endif %}

                        {% endfor %}
                    </p>
                </li>
                {% endif %}
                {% endfor %}
            </ol>
            <!-- pagination -->
            {% include pagination.html %}
        </div>
        <!-- side repos -->
        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>
    </div>

</section>
