<head>
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
            _atrk_opts = { atrk_acct: "K78pv1Y1Mn20Io", domain: "geekplayers.com", dynamic: true };
            (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
        </script>
        <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=K78pv1Y1Mn20Io" style="display:none" height="1"
                width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->
</head>

<body>
    <div class="wikidoc">
        <p>Immediately below you can see the main Snoop user interface that comes up after you Snoop an app using the
            <a href="">App Chooser</a>.</p>
        <p><a href=""><img title="SnoopMainUIAnnotated" border="0" alt="SnoopMainUIAnnotated"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/Main User Interface_SnoopMainUIAnnotated_2.png"
                    width="644" height="484"
                    style="border-bottom:0px; border-left:0px; padding-left:0px; padding-right:0px; display:inline; border-top:0px; border-right:0px; padding-top:0px"></a>
        </p>
        <p>This is the window where you will spend most of your time while using Snoop and there is a bunch of functionality
            packed in here.</p>
        <p>As you can see from my <font color="#ff0000">red</font> annotations, this window has three main areas. The area
            on the left is the visual tree of the application and/or window that you are currently Snooping. The visual tree
            is currently collapsed above,
            but at a glance you can see that we are looking at a very simple app that only has 7 visuals total. This area is
            covered in detail on the
            <a href="">Visual Tree</a> page.</p>
        <p>Looking to the right, you can see the property grid area. It’s a little bit of a misnomer, I guess, because this
            area encompasses four tabs of functionality and only two have the property grid on them, namely the Properties
            tab and the Data Context tab.
            The Properties tab shows all the properties of the currently selected visual and the Data Context tab shows all
            the properties for the data context of the currently selected visual. The Events tab lets you track events as
            they route through your application,
            and finally, the Methods tab allows you to invoke methods on the currently selected visual. This area is covered
            in detail on the
            <a href="">Property Grid</a> page.</p>
        <p>Underneath the property grid, is the preview area. This area exists to show a preview of the currently selected
            visual, and does so, as long as you have it turned on, by toggling the button
            <a href="">
                <img title="SnoopPreviewToggleButton" border="0" alt="SnoopPreviewToggleButton"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/Main%20User%20Interface_SnoopPreviewToggleButton_2.png"
                    width="22" height="20"
                    style="border-bottom:0px; border-left:0px; padding-left:0px; padding-right:0px; display:inline; border-top:0px; border-right:0px; padding-top:0px"></a>
            that looks like a power switch. From this area, you can also launch the Magnifier window and capture screen
            shots for the currently selected visual. This area is covered in detail on the
            <a href="">Preview Area</a> page.</p>
        <p>At the bottom of the window is a status bar which shows off the Keyboard.FocusedElement and the current
            FocusScope … again, for the currently selected visual. In fact, everything (with the exception of the Events
            tab) hinges off of what you have selected
            in the visual tree.</p>
    </div>
    <div class="ClearBoth"></div>    
</body>
