<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.subtitle %}
                {{ page.subtitle }}
                {% endif %}

                {% assign author = site.data.authors[page.author] %}
                {% if author %}
                {% include author.html %}
                {% else %}
                    <i class="fa fa-user" aria-hidden="true"></i> <a href='{{ site.url }}'>Bravo Yeung</a>
                {% endif %}

                {% if page.platform contains '公众号' %}
                <font style="color: #ddd;"> 首发于: {{ page.platform %}}</font>
                <font style="font-weight: bold; font-style:italic !important;">{{ page.gzhname %}}</font>&nbsp;
                {% endif %}
                                
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> <font style="color: #ddd;">{{ page.date | date: "%Y/%m/%d %T" }}</font>
                {% endif %}
            </span>
            
            <p>
                {% if post %}
                {% assign categories = post.categories %}
                {% else %}
                {% assign categories = page.categories %}
                {% endif %}
                
                {% for category in categories %}
                {% if category.size == 0 %}
                {% unless category contains "," %}
                <font style="color: #ddd;"><i class="fa fa-folder-open" aria-hidden="true"></i></font>
                <a style='background-color: #16a085 !important; padding: 2px 6px; border-radius: 4px !important;font-size: 15px;overflow: scroll;' 
                      href="{{site.url}}/categories/#{{category|slugize}}">{{category}}</a>
                {% endunless %}
                {% elsif category.size > 0 %}
                    {% if forloop.index == 1 %}
                    <font style="color: #ddd;"><i class="fa fa-folder-open" aria-hidden="true"></i></font>
                    {% for cat in category %}
                        <a style='background-color: #16a085 !important; padding: 2px 6px; border-radius: 4px !important;font-size: 15px;overflow: scroll;' 
                        href="{{site.url}}/categories/#{{cat|slugize}}">{{cat}}</a>
                    {% endfor %}
                    {% endif %}                
                {% else %}
                
                {% endif %}
                <!-- <p>out index:{{forloop.index}}</p>
                <p>size: {{category.size()}}</p> -->
                {% endfor %}            
            </p>

        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>