<head>
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
            _atrk_opts = { atrk_acct: "K78pv1Y1Mn20Io", domain: "geekplayers.com", dynamic: true };
            (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
        </script>
        <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=K78pv1Y1Mn20Io" style="display:none" height="1"
                width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->    
</head>

<body>
    <div class="wikidoc">
        <p>This is the Snoop magnifier button.</p>
    
        <p>
            <a><img title="SnoopMagnifier" border="0" alt="SnoopMagnifier"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/SnoopMagnifier1.png"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
        <br>
    
        <p>
            If you click magnifier button after clicked the "Snoop" button in the beginning, you will see the 2D/3D zoom of
            the whole app GUI.
            <br>
    
            <a><img title="SnoopMagnifier2" border="0" alt="SnoopMagnifier2"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/SnoopMagnifier2.png"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
    
            <br>
    
            If you navigate to some specific node, then you click the "Magnifier" botton in the right down corner, you can
            see 2D/3D zoom of the node you are focusing.
            <br>
    
            <a><img title="SnoopMagnifier3" border="0" alt="SnoopMagnifier3"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/SnoopMagnifier3.png"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
    </div>
</body>