<head>
            <!-- Start Alexa Certify Javascript -->
            <script type="text/javascript">
                _atrk_opts = { atrk_acct: "K78pv1Y1Mn20Io", domain: "geekplayers.com", dynamic: true };
                (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
            </script>
            <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=K78pv1Y1Mn20Io" style="display:none" height="1"
                    width="1" alt="" /></noscript>
            <!-- End Alexa Certify Javascript -->    
</head>
<body>
    <p>
        Snoop Tips & Tricks
    </p>
    <ul>
        <li>
            <a href="http://www.cplotts.com/2011/02/10/snoop-tips-tricks-1-ctrl-shift-mouse-over/">
                Snoop Tips & Tricks #1: Ctrl-Shift Mouse Over
            </a>
        </li>
        <li>
            <a href="https://www.cplotts.com/2011/02/14/snoop-tips-tricks-2-snooping-transient-visuals/">
                Snoop Tips & Tricks #2: Snooping Transient Visuals
            </a>
        </li>
        <li>
            <a href="https://www.cplotts.com/2012/05/31/snoop-tips-tricks-3-the-crosshairs/">
                Snoop Tips & Tricks #3: The Crosshairs
            </a>
        </li>
    </ul>    
</body>