<head>
    <!-- Start Alexa Certify Javascript -->
    <script type="text/javascript">
        _atrk_opts = { atrk_acct: "K78pv1Y1Mn20Io", domain: "geekplayers.com", dynamic: true };
        (function () { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(as, s); })();
    </script>
    <noscript><img src="https://certify.alexametrics.com/atrk.gif?account=K78pv1Y1Mn20Io" style="display:none" height="1"
            width="1" alt="" /></noscript>
    <!-- End Alexa Certify Javascript -->    
</head>

<body>
    <div class="wikidoc">
        <p>This is the Snoop app chooser. It lets you select which app you would like to Snoop. Let’s take a deeper look.
        </p>
        <p><a href="7873"><img title="SnoopAppChooser" border="0" alt="SnoopAppChooser"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/Quick Start_SnoopAppChooser_2.png"
                    width="593" height="30"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
        <p>&#160;</p>
        <p>The first part of the app chooser is the combo box that lists the Snoop-able applications, and the button which
            refreshes this combo box.</p>
        <p><a href="8444"><img title="SnoopAppChooserComboBox" border="0" alt="SnoopAppChooserComboBox"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopAppChooserComboBox_4.png"
                    width="333" height="32"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
        <p>If you click the refresh button, Snoop will iterate over all the applications in your system, determine if it is
            a WPF app, and if so, will add it to the combo box. Here is the app chooser after I have clicked refresh.</p>
        <p><a href="8446"><img title="SnoopAppChooserComboBoxFilled" border="0" alt="SnoopAppChooserComboBoxFilled"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopAppChooserComboBoxFilled_2.png"
                    width="597" height="71"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
        <p>
            At that point, you can select an app from the combo box and then click on either the Snoop binoculars
            <a href="8448">
                <img title="SnoopBinoculars" border="0" alt="SnoopBinoculars"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopBinoculars_2.png"
                    width="42" height="23"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px">
            </a>
            to Snoop the app or the Snoop magnifying glass <a href="">
                <img title="SnoopMagnifyingGlass" border="0" alt="SnoopMagnifyingGlass"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopMagnifyingGlass_2.png"
                    width="42" height="23"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px">
            </a>
            to magnify the app. Snooping the app will bring up the <a href="">
                main Snoop user interface
            </a>, and magnifying the app will obviously bring up the
            <a href="">magnifier window</a>.
        </p>
        <p>&#160;</p>
        <p>
            Please note that combo box will initially come up empty. This isn’t because there aren’t any WPF applications
            running on your system. It simply is because we are not auto-populating the combo box at startup (like we used
            to) … since this functionality is
            really no longer needed due to the introduction of the <a
                href="http://www.cplotts.com/2012/05/31/snoop-tips-tricks-3-the-crosshairs/">
                crosshairs functionality
            </a> in 2.7.0 … and because we wanted the Snoop app chooser to come up as fast as possible. The combo box and
            refresh button have been left in the app in case you are somehow without a mouse at your disposal.
            <em>
                Does anyone use this way of Snooping anymore? If so, please start a discussion in the
                <a href="">Discussions area</a> since we have considered removing this functionality.
            </em>
        </p>
        <p>&#160;</p>
        <p>
            As, I have recently stated, using the combo box to Snoop an app, is the uncool way to do it anymore.
            <img alt="Winking smile"
                src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_wlEmoticon-winkingsmile_2.png"
                style="border-bottom-style:none; border-left-style:none; border-top-style:none; border-right-style:none">
            The quickest way to Snoop an app is to use
            the crosshairs functionality. To do that, you simply drag one of the crosshairs <a href="">
                <img title="SnoopCrosshairs" border="0" alt="SnoopCrosshairs"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopCrosshairs_2.png"
                    width="22" height="22"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px">
            </a>
            onto the app that you want to either Snoop or magnify. As you drag the crosshairs on top of an app that is
            Snoop-able, the Snoop dog will show up (and some information on the app) letting you know that this app indeed
            can be Snooped.
            <em>As you can see Windows Live Writer is a WPF app and thus can be Snooped.</em>
        </p>
        <p><a href=""><img title="SnoopSnoopableCursor" border="0" alt="SnoopSnoopableCursor"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopSnoopableCursor_2.png"
                    width="412" height="73"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px"></a>
        </p>
        <p>There are two crosshairs on the app chooser, and hopefully its obvious, but the one to the right of the
            magnifying glass lets you magnify an app … and the one to the right of the Snoop binoculars lets you Snoop an
            app.</p>
        <h3>&#160;</h3>
        <p>
            The last bit of functionality on the app chooser are the minimize <a href="">
                <img title="SnoopMinimize" border="0" alt="SnoopMinimize"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopMinimize_2.png"
                    width="22" height="22"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px">
            </a>
            and close <a href="">
                <img title="SnoopClose" border="0" alt="SnoopClose"
                    src="https://raw.githubusercontent.com/yanglr/snoopWpf-online-doc/master/images/App Chooser_SnoopClose_2.png"
                    width="22" height="22"
                    style="border-right-width:0px; padding-left:0px; padding-right:0px; display:inline; border-top-width:0px; border-bottom-width:0px; border-left-width:0px; padding-top:0px">
            </a>
            buttons. Both of these buttons are obvious in what they do, but the minimize functionality can be useful, at
            times, when you are dealing with limited screen real estate and the Snoop app chooser is getting in your way.
        </p>
        <h3>&#160;</h3>
        <h3>Note</h3>
        <p>
            A <em>very </em>common issue is that sometimes you won’t be able to Snoop an app that you know to be a WPF app.
            That is, if you are using the combo box, the app will not show up in the list of Snoop-able apps. If you are
            using the crosshairs functionality,
            the cursor will not show the Snoop dog when you know it is on top of a WPF app. If this is happening to you, it
            is very, very likely that the app you are trying to Snoop is running elevated (i.e. as an Administrator). Snoop
            does not run elevated by default
            and in order to Snoop an elevated app, you must elevate Snoop too (i.e. you must run Snoop as an Administrator).
            Sometimes people just change their Snoop shortcuts to always run Snoop elevated so that they never run into this
            issue.
        </p>
    </div>
    <div class="ClearBoth"></div>

</body>
